In [117]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score, classification_report

In [30]:
df = pd.read_csv('C:/Users/USER/Downloads/dataset.csv', index_col=0)
df

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [31]:
X = df.drop('trestbps',axis=1)
y = df['trestbps']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
#데이터 전처리
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(X_train)
X_train_scaled = ss.transform(X_train)
X_test_scaled = ss.transform(X_test)

In [53]:
svr_model = SVR()
svr_model.fit(X_train_scaled, y_train)
pred_svr = svr_model.predict(X_test_scaled)
print(svr_model.score(X_train_scaled, y_train))
mse_svr = mean_squared_error(pred_svr, y_test)
print('평균제곱근오차', mse_svr)

0.07390316918601636
평균제곱근오차 425.03619323733716

In [54]:
lr_model = LogisticRegression()
lr_model.fit(X_train_scaled, y_train)
pred_lr = lr_model.predict(X_test_scaled)
print(lr_model.score(X_train_scaled, y_train))
mse_lr = mean_squared_error(pred_lr, y_test)
print('평균제곱근오차', mse_lr)

0.28512396694214875
평균제곱근오차 542.0983606557377

In [107]:
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)
pred_dt = dt_model.predict(X_test)
print(dt_model.score(X_train, y_train))
mse_dt = mean_squared_error(pred_dt, y_test)
print('평균제곱근오차', mse_dt)

1.0
평균제곱근오차 592.344262295082

In [115]:
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)
pred_rf = rf_model.predict(X_test)
print(rf_model.score(X_train, y_train))
mse_rf = mean_squared_error(pred_rf, y_test)
print('평균제곱근오차', mse_rf)

0.8495171980749272
평균제곱근오차 417.1724426229508

In [121]:
knn_model = KNeighborsRegressor()
knn_model.fit(X_train_scaled, y_train)
pred_knn = knn_model.predict(X_test_scaled)
print(knn_model.score(X_train_scaled, y_train))
mse_knn = mean_squared_error(y_test, pred_knn)
print('평균제곱근오차', mse_knn)

0.2950280543531031
평균제곱근오차 483.9311475409836